# ESP-IDF
build
sdkconfig.old
dependencies.lock


# VIM files
*.swp
*.swo
**/.cache


# VS-code
settings.json


# drawio
*.dtmp
*.bkp
# diagrams are mostly temporary (pdf files are tracked)
*.drawio


#kicad
**/*-backups/*.zip
\#auto_saved_files\#
*.lck
fp-info-cache
*.kicad_prl
_autosave-*

#pcb2gcode
**/pcb2gcode/out/


# other
octave-workspace
