# ESP-IDF
build
sdkconfig.old
dependencies.lock


# VIM files
*.swp
*.swo
**/.cache


# VS-code
settings.json


# drawio
*.dtmp
*.bkp
# diagrams are mostly temporary (pdf files are tracked)
*.drawio


# React
**/react-app/build
**/react-app/.pnp
.pnp.js
node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local


#kicad
**/*-backups/*.zip
\#auto_saved_files\#
*.lck
fp-info-cache
*.kicad_prl


# other
octave-workspace
